# Munin hosts.
{% for host in groups['munin-nodes'] %}
[{{hostvars[host]['munin_group']}};{{ host }}]
    address {{lookup('dig', host)}}
    use_node_name no
{% if host.extra is defined %}
{% for extra in host.extra %}
    {{ extra }}
{% endfor %}
{% endif %}

{% endfor %}
